/* adminPanel.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

    form input[type="text"], form input[type="password"] {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    form button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #333;
        color: #fff;
        border: none;
    }

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
}

a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}
